<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>chat</title>
	<link rel="stylesheet" href="/css/style.css">
	<script src="/jquery/jquery.min.js"></script>
</head>
<body>
<div class="chat-container fullh">
	<div class="chat-group-container plr15 fullh">
		<% if(user) {%>
		<div class="user-card">
			<h3 class="user-card-head"><%= user.userName %>的信息</h3>
			<div class="user-card-body">
				<img src="/images/agent.jpg" alt="" class="user-face">
				<b class="user-name"><%= user.userName %></b>
				<span>|</span>
				<a href="/user/signout">退出</a>
			</div>
		</div>
		<script>
		var from = "<%= user._id %>";
		function online() {
			var now = new Date().getTime();
			var xhr = $.ajax({
				url: '/user/online/<%= user._id %>/'+now,
				type: 'GET'
			});
			setTimeout(online,40000)
		}
		online();
		</script>
		<% }else { %>
		<h1 class="logo">Web Chat</h1>
		<%}%>
		<dl class="chat-group user-group">
			<dt class="clearfix"><b class="fl">好友列表</b><a href="/user/list" class="fr">+添加好友</a></dt>
			<% if(user.friends.length) {%>
			<%user.friends.forEach(function(friend){%>
			<dd class="clearfix"><a class="chat-to u-chat-to <%if(!friend['online']){%>status-leave<%}else{%>status-idle<%}%> fl" href="javascript:;" chat-id="<%= friend.id %>"><!--<img src="https://avatars2.githubusercontent.com/u/2281961?v=3&s=40" alt="">--> <%= friend.userName %></a><span class="chat-count fr">12</span></dd>
			<%})%>
			<% } else { %>
				<dd class="no-data"><a href="/user/list">暂无好友，点击添加</a></dd>
			<% } %>
		</dl>
		<dl class="chat-group">
			<dt><b>房间列表</b></dt>
			<dd class="clearfix"><a class="chat-to fl" href="#">room1</a><span class="chat-status status-busy fr">12</span></dd>
		</dl>
	</div>
	<div class="chat-content fullwh">
		<div class="chat-content-inner p20">
			<p>111</p>
			<p>111</p>
			<p>111</p>
		</div>
	</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
	var socket = io.connect('http://localhost:3000');
	socket.on('connect', function(){
		$('.u-chat-to').on('click', function(){
			var to = $(this).attr('chat-id');
			socket.emit('tomessage',from,to,"hhehehe");
		});
		socket.emit('add', from);
		socket.on('to'+from,function(data) {
			alert(data)
		})
	})
</script>
</body>
</html>
